.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  .web {
    color: $webColor;
  }
  .studio {
    color: $secondTextColor;
  }
}
.logo--footer {
  .studio {
    color: $white;
  }
}
