.order {
  text-align: center;
  background: url(../images/Imghero.png);
  background-repeat: no-repeat;
  background-size: cover;
  .bgc {
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    );
  }
  h1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;
  }
  .open-button {
    border: none;
    padding: 10px 32px;
    margin-top: 30px;
    color: $white;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: $webColor;
    border-radius: 4px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal {
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 530px;
    transform: translate(-50%, -50%);
    padding: 40px;
  }
}
.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white);
  background-image: url(../images/icons/close-black.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  h3 {
    font-size: 20px;
    text-align: center;
  }
  .order-form {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: left;
  }
}

.fieldset {
  position: relative;
  .input-text {
    height: 40px;
    width: 100%;
    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus-within + svg {
      fill: $webColor;
    }
  }
  svg {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-person {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  .label {
    display: inline-block;
    outline: solid 1px;
  }

  .checkbox:checked {
    background-image: url("../images/icons/icon\ check.sv");
    background-position: center;
  }
  a {
    text-decoration: underline;
    color: $webColor;
  }
}
.send {
  padding: 10px 55px;
  background-color: $webColor;
  border-radius: 4px;
  border-width: 0;
  color: $white;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-weight: bold;
}
.input-text:focus-within,
textarea:focus-within {
  border-color: $webColor;
  outline: none;
}
