.values {
  padding-top: 95px;
  padding-bottom: 95px;
  ul {
    display: flex;
  }
  li:not(:last-child) {
    margin-right: 30px;
  }
  p {
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.7;
  }
}
.values-icon {
  background-color: $backgroundGrey;
  margin-bottom: 30px;
  padding: 25px 100px;
  svg {
    width: 70px;
    height: 70px;
  }
}
